<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Context" connectionString="data source =HOME-PC\\MSSQLSERVER01;initial catalog=EmployeeDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>